<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disabled Account</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script language="javascript" src="js/bootstrap.bundle.min.js"></script>

    <style>

    </style>

</head>
<body class="d-flex align-items-center py-4 bg-secondary" style="height: 100vh">
    <main class="w-100 m-auto bg-dark" style="max-width: 330px; padding: 1rem;">
        <h1 class="h3 mb-3 fw-normal text-white">Your account has been disabled.</h1>

        <form action="/logout" method="POST">
            <button class="btn btn-primary" type="submit">Log Out</button>
         </form>
    </main>
</form>
</body>
</html>

